.anima{
    animation: mudarParaPreto 2s ease-in-out;
}

@keyframes mudarParaPreto{
    0%{
        background-color: white;
    }
    50%{
        background-color: gray;
    }
    60%{
        
    }
    100%{
        background-color: black;
    }

}